.Sidebar {
  position: fixed;
  display: block;
  width: 62px;
  padding-top: 43px;
  height: 100vh;
  background: #96cdd9;
  transition: width 0.5s;
  will-change: transform;
  border-right: 2px solid #ffffff;
}

.Sidebar__item {
  width: 100%;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  float: left;
  color: #323c47;
}

.Sidebar__item:active,
.Sidebar__item:hover {
  box-sizing: border-box;
  background-color: #ffffff;
  color: #323c47;
  font-weight: 500;
}

.Sidebar__text {
  position: absolute;
  left: -990px;
  width: 120px;
  opacity: 0;
}

.Sidebar__icon {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-size: contain;
}

.users {
  background-image: url(../assets/images/user.png);
  background-repeat: no-repeat;
}
