.DashboardItem {
  display: grid;
  grid-template-columns: 0.4fr 0.8fr 0.8fr;
  background: #ffffff;
  height: 100px;
  border: 2px solid #ffffff;
  cursor: pointer;

  &--new {
    border: 2px solid lightgreen;
  }

  &--active {
    border: 2px solid blue;
  }

  &:hover {
    background: #dddddd;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
      margin: 0;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    p {
      margin: 0;
    }
  }
}

.resolve {
  margin-top: 10px;
}
