.Messenger {
  box-sizing: border-box;
  position: relative;
}

.Messenger__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  height: 50px;
  background: #96cdd9;
  box-sizing: border-box;
}

.Messenger__chat {
  height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
  box-sizing: border-box;
  padding: 30px;
  overflow-y: auto;
}

.message__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &--left {
    align-items: flex-start;
  }

  &--right {
    align-items: flex-end;
  }
}

.message__author {
  margin: 0;
}

.message__date {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #78a4ae;
  font-weight: 700;
  font-size: 18px;
}

.chat__message {
  color: white;
  padding: 10px 15px;
  line-height: 16px;
  font-size: 16px;
  border-radius: 7px;
  max-width: 60%;
  min-width: 30%;
  position: relative;
  margin: 5px 0;
  &--first {
    margin-top: 15px;
    &:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 7px;
      margin-left: -10px;
    }
  }

  &--left {
    background: #96cdd9;
    &:after {
      left: 7%;
      border-bottom-color: #96cdd9;
    }
  }

  &--right {
    background: #78a4ae;
    &:after {
      left: 93%;
      border-bottom-color: #78a4ae;
    }
  }
}

.Messenger__input {
  box-sizing: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__template {
  width: 200px;
  box-sizing: border-box;
  height: 40px;
}

.input__template-list {
  display: none;
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 400px;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: auto;
  background: #dddddd;
}

.template-list__element {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  word-break: break-all;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  &:hover {
    background: #eeeeee;
  }
}

.input__text {
  height: 40px;
  box-sizing: border-box;
  width: calc(100% - 240px);
  border: transparent;
  padding: 0 20px;
  border-top: 1px solid #96cdd9;
}

.input__send {
  width: 40px;
  height: 40px;
  background: #96cdd9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-top: 1px solid #96cdd9;
}
