.Dashboard {
  background: #96cdd9;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.Dashboard__wait {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  text-align: center;
  font-size: 18px;
}

.Dashboard__list {
  max-height: calc(50vh - 50px);
  box-sizing: border-box;
  overflow: auto;
}
