$color-blue: #51A0E2;
$color-dark-blue: #136CDC;
$color-grey: #C4C4C4;
$color-red: #DF0000;
$color-green: #13DC63;

$trans-time: .3s;

$desktop: 992px;
$tablet: 760px;
$desktop-lg: 1170px;
$desktop-xl: 1400px;
$desktop-xxl: 1800px;

$header-height: 76px;

.Templates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
}

.Templates__header {
  margin-top: 0px;
}

.Templates__table {
  padding: 20px;

  table {
    th {
      color: #ffffff;
      background-color: #96cdd9;
      border: none;
      font-weight: normal;
      padding: 10px 15px;
      text-align: left;
      &:first-child {
        text-align: center;
      }
    }
    td {
      padding: 10px 15px;
      text-align: left;
      border: 1px solid #96cdd9;
      word-break: break-all;
      &:first-child {
        text-align: center;
      }
    }
  }
}

.Templates__add {
  padding: 20px;
}

.Templates__form {
  color: #ffffff;
  background-color: #96cdd9;
  border: none;
  width: 80%;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.form-group__input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  height: 30px;
  border-radius: 5em;
  color: #fff;
  background-color: $color-dark-blue;
  text-align: center;
  position: relative;
  border: none;
  width: 100%;
  outline: none;
  transition: $trans-time;
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;
  & + .button {
    margin-top: 15px;
    @media (min-width: $desktop) {
      margin-left: 15px;
      margin-top: 0;
    }

  }
  &:hover {
    background-color: darken($color-dark-blue, 5);
    text-decoration: none;
    color: #fff;
  }
  &[disabled] {
    opacity: .5;
    filter: grayscale(.8);
    &:hover {
      background-color: $color-dark-blue;
    }
  }
  &--loading {
    transition: 0s;
    text-indent: -999px;
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: #fff #fff #fff transparent;
      animation: rotate .6s linear infinite forwards;
      position: absolute;
      top: 10px;
      left: calc(50% - 10px);
    }
  }
  &--second {
    border: 1px solid $color-dark-blue;
    background-color: transparent;
    color: $color-dark-blue;
    height: 35px;
    line-height: 33px;
    padding: 0 13px;
    width: auto;
    border-radius: 4px;
    &:hover {
      background-color: $color-dark-blue;
      color: #fff;
    }
    &[disabled] {
      filter: grayscale(1);
      opacity: .6;
      &:hover {
        background-color: transparent;
        color: $color-dark-blue;
      }
    }
  }
  &--large {
    height: 40px;
    width: 100%;
  }
  &--green {
    border: 1px solid $color-green;
    background-color: transparent;
    color: $color-green;
    &:hover {
      background-color: $color-green;
      color: #fff;
    }
  }
  &--red {
    border: 1px solid $color-red;
    background-color: transparent;
    color: $color-red;
    &:hover {
      background-color: $color-red;
      color: #fff;
    }
  }
  &--yellow {
    border: 1px solid #DCBC13;
    background-color: transparent;
    color: #DCBC13;
    &:hover {
      background-color: #DCBC13;
      color: #fff;
    }
  }
  &--big {
    max-width: 220px;
    font-size: 18px;
  }
  &--sm {
    height: 35px;
    line-height: 33px;
    padding-left: 15px;
    padding-right: 15px;
    //m-width: 200px;
    width: auto;
    display: inline-block;
  }
}

